{% extends 'base.html.twig' %}

{% block contents %}
    <h1>Koninklijk Belgische Voetbalbond</h1>
    <p class="intro">
        Kies jouw geschenk.
    </p>

    {% if errors|length > 0 %}
        <div class="messages messages--error">
            <ul>
                {% for error in errors %}
                    <li class="error">{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="gifts">
        {% for gift in gifts %}
            <div class="gift" data-id="{{ gift.id }}">
                <span class="gift--name">{{ gift.gift }}</span>
                <img class="gift--image" src="{{ asset('img/'~ gift.imageName) }}" alt="{{ gift.gift }}">
            </div>
        {% endfor %}
    </div>

    {{ form_start(form) }}
        {{ form_widget(form.birthdate) }}
        {{ form_widget(form.number) }}
        {{ form_widget(form.gift) }}
        <div class="form--field">
            {{ form_widget(form.next) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
