{% extends 'base.html.twig' %}

{% block title %}Ontvang jouw geschenk{{ parent() }}{% endblock %}

{% block contents %}
    <h1>Koninklijk Belgische Voetbalbond</h1>
    <p class="intro">
        Als lid van 1895 krijg je een mooi geschenk. Je hebt de keuze tussen een pet, een sjaal of een vlag. <br />
        Vul hier jouw lidnummer en geboortedatum in en maak je keuze.
    </p>

    {% if errors|length > 0 %}
        <div class="messages messages--error">
            <ul>
                {% for error in errors %}
                    <li class="error">{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form_start(form) }}

        <div class="form--field">
            {{ form_widget(form.birthdate) }}
            {{ form_label(form.birthdate) }}
            <div class="form--icon form--icon__date"></div>
        </div>

        <div class="form--field">
            {{ form_widget(form.number) }}
            {{ form_label(form.number) }}
        </div>

        <div class="form--field">
            {{ form_widget(form.next) }}
        </div>

    {{ form_end(form) }}

{% endblock %}
